{% include "head.html" %}
{% include "menu.html" %}

<div class="w3-container w3-teal">
    <h5 style="text-align: center">{{ title }}</h5>
</div>

<form action="http://127.0.0.1:8000/pasi/pasi_summary/" method="post"> {% csrf_token %}

    <div class="w3-row-padding w3-margin-top">

        {% for key, value in Photo_Dict.items %}

        <div class="w3-third">
            <div class="w3-card">
                <input class="w3-input w3-border w3-round" type="text" value="{{ key }}">
                <img src="http://127.0.0.1:8000/media/photo/{{ value }}" style="width:100%">
                <div class="w3-container">


                    <h5>Erythema</h5>
                    <label style="color: darkgreen; font-weight: bold">0</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_erythema" value="0" checked>&nbsp;|&nbsp;

                    <label style="color: #f19e9e; font-weight: bold">1</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_erythema" value="1">&nbsp;|&nbsp;

                    <label style="color: #fc6875; font-weight: bold">2</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_erythema" value="2">&nbsp;|&nbsp;

                    <label style="color: #f80435; font-weight: bold">3</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_erythema" value="3">&nbsp;|&nbsp;

                    <label style="color: #c50202; font-weight: bold">4</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_erythema" value="4">&nbsp;|&nbsp;
                    <br>


                    <h5>Incrassation</h5>
                    <label style="color: darkgreen; font-weight: bold">0</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_incrassation" value="0" checked>&nbsp;|&nbsp;

                    <label style="color: #f19e9e; font-weight: bold">1</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_incrassation" value="1">&nbsp;|&nbsp;

                    <label style="color: #fc6875; font-weight: bold">2</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_incrassation" value="2">&nbsp;|&nbsp;

                    <label style="color: #f80435; font-weight: bold">3</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_incrassation" value="3">&nbsp;|&nbsp;

                    <label style="color: #c50202; font-weight: bold">4</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_incrassation" value="4">&nbsp;|&nbsp;
                    <br>


                    <h5>Scales</h5>
                    <label style="color: darkgreen; font-weight: bold">0</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_scales" value="0" checked>&nbsp;|&nbsp;

                    <label style="color: #f19e9e; font-weight: bold">1</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_scales" value="1">&nbsp;|&nbsp;

                    <label style="color: #fc6875; font-weight: bold">2</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_scales" value="2">&nbsp;|&nbsp;

                    <label style="color: #f80435; font-weight: bold">3</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_scales" value="3">&nbsp;|&nbsp;

                    <label style="color: #c50202; font-weight: bold">4</label>
                    <input class="w3-radio" type="radio" name="{{ key }}_scales" value="4">&nbsp;|&nbsp;
                    <br>
                    <br>

                </div>
            </div>
        </div>

    {% endfor %}

    </div>

    <div  class="w3-row-padding w3-margin-top" >
        <button style="align-content: center" class="w3-button w3-block w3-red" style="width:50%">Submit!</button>
    </div>

</form>

<div class="w3-row-padding w3-margin-top"></div>

<div  class="w3-container w3-teal">
    <h5 style="text-align: center">{{ title }}</h5>
</div>

{% include "foot.html" %}